

.Contacto{
    text-align: center;

    margin: auto
}

/* .Contacto h3{
    line-height: 0.8rem;
} */

.Contacto img{
    width: 200px
}

@media (max-width:500px){
    .Contacto h3{
        line-height: 2rem;
    }
}


