

.card-deck{
    text-align: left;
    font-size: 0.8rem;
}

.card-deck h5{
    color: #666666;
}

.card-deck img{
    height: 150px;
    object-fit: contain;
}

.card-deck hr{
    border-top: 2px dotted;
    color: #EDE1D4;
}

.initial-text{
    color: #a89c8c;
    font-style: italic;
}

.presupuesto{
    font-weight: bold;
    /* line-height: 0.5rem; */
}

.card-shadow{
    border: none;
    -webkit-box-shadow: 3px 6px 26px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 26px -16px rgba(0,0,0,0.75);
box-shadow: 3px 6px 26px -16px rgba(0,0,0,0.75);
}





